[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "astronvim_user"]
	path = astronvim_user
	url = https://github.com/chaozwn/astronvim_user.git
	ignore = dirty
