[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "ghostty/ghostty-shader-playground"]
	path = ghostty/ghostty-shader-playground
	url = https://github.com/KroneCorylus/ghostty-shader-playground.git
